body{
    background-color:aliceblue
}
.ListDiv{
position: absolute;
left: 500px;
top: 50px;
}
div{
    background-color: white;
    box-shadow: 2px 2px 2px gray;
}
h3{
    text-align: center;
}
.orderlist {
    position: absolute;
    width: 120px;
  }
  .Romanlist {
    position: absolute;
    left: 135px;
    width: 120px;
  }
  .Alphalist {
    position: absolute;
    left: 270px;
    width: 120px;
  }
  .Disclist {
    position: absolute;
    top: 180px;
    width: 120px;
  }
  .Squarelist {
    position: absolute;
    top: 180px;
    left: 135px;
    width: 120px;
  }
  .Circlelist {
    position: absolute;
    top: 180px;
    left: 270px;
    width: 120px;
  }