* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 500px;
    height: 900px;
    position: relative;
    margin: 0 auto;
}

.purplebg {
    width: 500px;
    height: 300px;
    background-image: url(./images/bg-main-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whitebg {
    background-color: white;
    flex-grow: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    width: 100%;
    position: absolute;
    top: 0;
}
.cards>div{
    width: 400px;
    position: absolute;
}
.cardfront{
    z-index: 2;
    top: 150px;
    left: 15px;
    width: 400px;
    height: 200px;
    background-image: url(./images/bg-card-front.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.cardback{
    top: 40px;
    left: 80px;
    width: 400px;
    height: 200px;
    background-image: url(./images/bg-card-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.cardlogo{
    position: absolute;
    max-width: 60px;
    height: 30px;
    left: 20px;
    top: 20px;
}
.frontinfo{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding-top: 90px;
    padding-left: 25px;
}
.cardnum{
    font-size: 33px;
    letter-spacing: 3px;
}
.name{
    padding-top: 30px;
    font-size: 15px;
    letter-spacing: 1px;
}
.date{
    padding-top: 25px;
    padding-left: 155px;
    font-size: 17px;
}
.cardinfo{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 35px;
    margin-top: 20%;
}
input{
    height: 60px;
    border-radius: 10px;
    border-color: rgb(197, 196, 196);
    padding: 10px;
    margin-top: 10px;
    font-size: 18px;
}
.cardname>input, .cardnumber>input{
    width: 100%;
}
.expdate, .cvc{
width: 50%;
}
.expdate>input{
    width: 48%;
}
.cvc>input{
    width:100%;
}
.date-cvc{
    display: flex;
}
.Confirm{
    background-color: rgb(35, 6, 48);
    color: white;
}
label{
    font-size: 15px;
}