*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.currencies{
    padding: 10px;
    width: 470px;
    height: 80px;
    margin: 50px auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

select{
    width: 60px;
    height: 35px;
    text-align: center;
}

input{
    width: 70px;
    height: 35px;
}

img{
   width: 30px;
}

.loader {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }