* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

main {
  width: 70vw;
  margin: 0 auto;
  position: relative;
}

nav >a> img {
  width: 3vw;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding-top: 3%;
}
@font-face {
  font-family: menufont;
  src: url(./assets/fonts/Inter-VariableFont_slnt\wght.ttf);
}
@font-face {
  font-family: extrabold;
  src: url(./assets/fonts/static/Inter-ExtraBold.ttf);
}
@font-face {
    font-family: weakbold;
    src: url(./assets/fonts/static/Inter-Bold.ttf);
}
@font-face {
    font-family: regular;
    src: url(./assets/fonts/static/Inter-Regular.ttf);
}
menu {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

menu > a {
  font-family: menufont;
  font-size: 0.9vw;
  color: black;
}

menu > a:hover {
  color: coral;
  transition: 0.2s;
}

.middle {
  width: 100%;
  margin-top: 2vw;
  display: flex;
  justify-content: space-between;
}

.upper-mid {
  width: 70%;
  margin-bottom: 5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.upmid-bg {
  width: 100%;
  height: 70%;
  background-image: url(./assets/images/image-web-3-desktop.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.upper-mid > span {
  width: 40%;
  font-size: 3vw;
  font-family: extrabold;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1vw;
}

.text-input > p {
  width: 85%;
  color: rgb(131, 130, 130);
  line-height: 1.4vw;
  padding-top: 2vw;
  font-size: 0.9vw;
}
.text-input{
  width: 50%;
}
.text-input > a > input {
  width: 40%;
  height: 2.5vw;
  background-color: rgb(242, 91, 85);
  color: white;
  letter-spacing: 0.3vw;
  border: none;
  margin-top: 2vw;
  font-size: 0.8vw;
}
.text-input > a > input:hover{
  background-color: rgb(3, 0, 25);
  transition: 0.3s;
}
.lower-mid{
  width: 28%;
  height: 30vw;
  background-color: rgb(3, 0, 25);
}
.head{
  color: rgb(237, 170, 99);
  font-family: weakbold;
  font-size: 2.5vw;
  padding: 1vw;
}
.lower-mid>div{
  width: 90%;
  margin: 0 auto;
  margin-top: 1.5vw;
  margin-bottom: 2.2vw;
}
.title{
  color: white;
  font-size: 1.1vw;
  font-family: weakbold;
}
.title:hover{
  color: rgb(237, 170, 99);
  transition: 0.2s;
}
.text{
  color: darkgray;
  font-size: 0.75vw;
  line-height: 1.2vw;
  padding-top: 0.5vw;
  font-family: regular;
}
hr{
  width: 90%;
  margin: 0 auto;
}
.topics{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vw;
}
.topics>div{
  width: 30%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  gap: 1vw;
}
.retro-pcs{
  width: 8vw;
  height: 10vw;
}
.info{
  width: 60%;
}
.info>span{
  font-size: 2.5vw;
  font-family: weakbold;
  color: darkgray;
}
.header{
  font-family: weakbold;
  font-size: 0.8vw;
  margin-top: 1.6vw;
  margin-bottom: 2vw;
}
.header:hover{
  color: rgb(237, 170, 99);
  transition: 0.2s;
}
.infotext{
  color: rgb(133, 133, 133);
  font-family: regular;
  font-size: 0.8vw;
}