main {
    width: 600px;
    margin: 10px auto;
    font-size: 20px;
    border:1px solid green;
    display: flex;
    flex-direction: column;
  }
  table,
  thead,
  tbody,
  tr,td,th {
    border-collapse: collapse;
    border: 1px solid red;	
    font-size: 16px;
    height: 30px	
  };
  table{			
    display: block;	
    width:100%;
  }
    form {
        margin: 50px auto;
        width: 360px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    form>input {
        width: 350px;
        height: 25px;
    }

    .fullname{
        display: flex;
        gap: 5px;
    }
    .fullname>input{
        height: 25px;
    }

    .gender {
        margin: 0 auto;
    }

    .submit {
        width: 40%;
        height: 40px;
        margin: 0 30%;
    }

    .icons{
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: 0;
    }

    .icons>img{
        width: 25px;
        height: 25px;
    }