*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.currencies{
    padding: 10px;
    width: 470px;
    height: 80px;
    margin: 50px auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;
}

select{
    width: 60px;
    height: 35px;
    text-align: center;
}

input{
    width: 70px;
    height: 35px;
}

img{
   width: 30px;
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
  }

.loader.active{
    display: block;
}
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }